<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 App</title>
    <link rel="stylesheet" href=""{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <nav>
        <!--
        #url_for race page
        #url_for leaderboard
        #url for updates
        #url_for pit/tyre
        #url_for weather
        #url_for fastest lap
        -->
    </nav>
</body>
</html>