<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Flask WebSocket Test</h1>
    <input type="text" id="message" placeholder="Type a message">
    <button onclick="sendMessage()">Send</button>

    <script>
        var socket = io();

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('message', function(data) {
            console.log('Message received from server:', data);
        });

        socket.on('fastest_lap_update', function(data) {
            console.log('Lap received from server:', data);
        });

        socket.on('pit_stop_update', function(data) {
            console.log('Pit stop received from server:', data);
        });

        socket.on('race_control_update', function(data) {
            console.log('Race control update received from server:', data);
        });

        function sendMessage() {
            var msg = document.getElementById("message").value;
            socket.send(msg);  // This sends the message to Flask
        }
    </script>
</body>
</html>
